// Place all the styles related to the questionnaire controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: whitesmoke;
    border-bottom: 3px dotted #77e;
  }
.questionnaire {
  border-bottom: 2px dotted #7777ee;
  td {
    border-bottom: 1px solid #7777ee;
    border-right: 1px solid #7777ee;
    border-radius: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    vertical-align: top;
  }
  .answers_table {
    width: 100%;
    p {
      line-height: 14px;
      margin-bottom: 4px;
      margin-top: 2px;
      text-align: justify;
//      display: inline;
    }
    td{
      border-right: 0px;
      border-bottom: 1px dotted #7777ee;
      vertical-align: top;
    }
  }

  .list_line_odd {
//    background: rgba(223,235,240,0.6);
    background: rgba(162,221,236,0.5);
    #column1 {
      width: 40%;
      h2{
        text-align: justify;
      }
    }
    #column2 {
      width: 59%;
    }
  }
  .list_line_even {
    background: rgba(105,175,240,0.5);
    h2{
      text-align: justify;
    }
  }
  column {
    width: 100px;
  }
}

