<hr>
<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <p class="pull-right">
    <a href="#top">Наверх </a><code>&#8593;</code>
  </p>
</footer>